* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Grotesk;
    background-color: #f3f3f3;
}
h1 {
    font-size: 45px;
    padding: 10px 20px 10px 20px;
}
button {
    transition: 0.4s;
    border: none;
    font-size: 16px;
    color: #e2e2e2;
    min-width: 80%;
    min-height: 44px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 4px silver;
    background: #0c008e;
    background: linear-gradient(90deg, #0c008e 31%, #1d00ff 100%);
}
button:hover {
    cursor: pointer;
    scale: 101%;
}
hr {
    margin: 1pc;
}
.panel_area {
    margin-top: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel {
    min-width: 70%;
    max-width: 80%;
    padding: 12%;
    box-shadow: 1px 1px 10px 4px silver;
    border-radius: 12px;
    background-color: #e2e2e2;
}
.panel>h3 {
    color: #3d3d3d;
    text-align: center;
    font-size: 16px;
}
.question_container>h4 {
    font-size: 29px;
}
.options_answers {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 12px;
}
.panel_submit {
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: Grotesk;
    src: url(../Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}